name: Library Service

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python 3.9
        uses: actions/setup-python@v6
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest-cov

      - name: Add repo to PYTHONPATH
        run: echo "PYTHONPATH=$PWD" >> $GITHUB_ENV

      - name: Initialize and seed database
        run: |
          python - <<'PY'
          from database import init_db, seed_db
          init_db()
          seed_db()
          print("Database initialized and seeded.")
          PY

      - name: Run tests with coverage
        run: |
          pytest --cov=. --cov-report=xml tests/
